%muted-labels {
	color: $gray-600;
	display: block;
	font-size: .85rem;
	font-weight: 600;
	letter-spacing: 1.5px;
	text-transform: uppercase;
}

//Centering - assuming parent is set to position: relative;
@mixin centerer($horizontal: true, $vertical: true) {
  position: absolute;
  @if ($horizontal and $vertical) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } @else if ($horizontal) {
    left: 50%;
    transform: translate(-50%, 0);
  } @else if ($vertical) {
    top: 50%;
    transform: translate(0, -50%);
  }
}

//Tint and Shade
@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}
@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}

//Responsive breakpoints - mobile
@mixin xs { @media (min-width: #{$screen-xs-min}) {@content;} }
@mixin sm { @media (min-width: #{$screen-sm-min}) {@content;} }
@mixin md { @media (min-width: #{$screen-md-min}) {@content;} }
@mixin lg { @media (min-width: #{$screen-lg-min}) {@content;} }
@mixin xl { @media (min-width: #{$screen-xl-min}) {@content;} }

@mixin xs-max { @media (max-width: #{$screen-xs-max}) {@content;} }
@mixin sm-max { @media (max-width: #{$screen-sm-max}) {@content;} }
@mixin md-max { @media (max-width: #{$screen-md-min}) {@content;} }
@mixin lg-max { @media (max-width: #{$screen-lg-min}) {@content;} }
// @mixin xl { @media (min-width: #{$screen-xl-min}) {@content;} }