// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------





/// Regular font family
/// @type List
$text-font-stack: 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;

$font-brand: 'Montserrat', sans-serif;

$font-size-base:  1rem !default; // Assumes the browser default, typically `16px`
$h1-font-size:    $font-size-base * 3 !default;
$h2-font-size:    $font-size-base * 2.5 !default;
$h3-font-size:    $font-size-base * 2 !default;
$h4-font-size:    $font-size-base * 1.75 !default;
$h5-font-size:    $font-size-base * 1.5 !default;
$h6-font-size:    $font-size-base !default;


/// Copy text color
/// @type Color
$text-color: rgb(73, 73, 73) !default;

/// Main brand color
/// @type Color
$brand-color: rgb(255, 101, 1) !default;
// $brand-highlight-color: rgb(73, 63, 61) !default;
$brand-highlight-color: rgb(59, 59, 59) !default;
// $link-color: tint(red, 70%);

/// Light grey
/// @type Color
$light-grey: rgb(228, 228, 228) !default;
$light-grey2: tint($light-grey, 70%);

/// Medium grey
/// @type Color
$mid-grey: rgb(153, 153, 153) !default;

/// Dark grey
/// @type Color
$dark-grey: rgb(68, 68, 68) !default;


$gray-600: #6c757d;





/// Container's maximum width
/// @type Length
$max-width: 1180px !default;





/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'small': 320px,
  'medium': 768px,
  'large': 1024px,
) !default;

$screen-xs-min: 425px;  // Tiny phones
$screen-sm-min: 576px;  // Small tablets and large smartphones (landscape view)
$screen-md-min: 768px;  // Small tablets (portrait view)
$screen-lg-min: 992px;  // Tablets and small desktops
$screen-xl-min: 1200px; // Large tablets and desktops

// $screen-xs-max: calc($screen-sm-min - 1px);  // Tiny phones
$screen-xs-max: 575px;  // Tiny phones
// $screen-sm-max: calc($screen-md-min - 1px);  // Small tablets and large smartphones (landscape view)
$screen-sm-max: 767px;  // Small tablets and large smartphones (landscape view)
// $screen-md-max: calc($screen-lg-min - 1px);  // Small tablets (portrait view)
$screen-md-max: 991px;  // Small tablets (portrait view)
// $screen-lg-max: calc($screen-xl-min - 1px);  // Tablets and small desktops
$screen-lg-max: 1199px;  // Tablets and small desktops
// $screen-xl-max: calc($screen-xl-min - 1px); // Large tablets and desktops








/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;
