@charset "UTF-8";
.case-study-item span, .testimonials .lead > .muted:first-child, .testimonials .blockquote-footer--title, .about__title, .case-study__label {
  color: #6c757d;
  display: block;
  font-size: .85rem;
  font-weight: 600;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0;
}

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none;
}

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline;
}

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto;
}

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block;
}

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item;
}

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none;
}

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none;
}

/*!
 * Bootstrap Reboot v4.1.1 (https://getbootstrap.com/)
 * Copyright 2011-2018 The Bootstrap Authors
 * Copyright 2011-2018 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 * Forked from Normalize.css, licensed MIT (https://github.com/necolas/normalize.css/blob/master/LICENSE.md)
 */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@-ms-viewport {
  width: device-width;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

[tabindex="-1"]:focus {
  outline: 0 !important;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0;
}

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: 700;
}

dd {
  margin-bottom: .5rem;
  margin-left: 0;
}

blockquote {
  margin: 0 0 1rem;
}

dfn {
  font-style: italic;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:hover {
  color: #0056b3;
  text-decoration: underline;
}

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):hover, a:not([href]):not([tabindex]):focus {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
  outline: 0;
}

pre,
code,
kbd,
samp {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1em;
}

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  -ms-overflow-style: scrollbar;
}

figure {
  margin: 0 0 1rem;
}

img {
  vertical-align: middle;
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

table {
  border-collapse: collapse;
}

caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #6c757d;
  text-align: left;
  caption-side: bottom;
}

th {
  text-align: inherit;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

button {
  border-radius: 0;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type="radio"],
input[type="checkbox"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox;
}

textarea {
  overflow: auto;
  resize: vertical;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

output {
  display: inline-block;
}

summary {
  display: list-item;
  cursor: pointer;
}

template {
  display: none;
}

[hidden] {
  display: none !important;
}

.slick-next:before,
.slick-prev:before {
  color: #3b3b3b;
  font-size: 42px;
}

/* Uncomment and set these variables to customize the grid. */
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-right: 2rem;
  padding-left: 2rem;
}

.row {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex: 0 1 auto;
  -webkit-box-flex: 0;
  flex: 0 1 auto;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -1rem;
  margin-left: -1rem;
}

.row.reverse {
  -ms-flex-direction: row-reverse;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  flex-direction: row-reverse;
}

.col.reverse {
  -ms-flex-direction: column-reverse;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  flex-direction: column-reverse;
}

.col-xs,
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
  padding-right: 1rem;
  padding-left: 1rem;
}

.col-xs {
  -ms-flex-positive: 1;
  -webkit-box-flex: 1;
  flex-grow: 1;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  max-width: 100%;
}

.col-xs-1 {
  -ms-flex-preferred-size: 8.333%;
  flex-basis: 8.333%;
  max-width: 8.333%;
}

.col-xs-2 {
  -ms-flex-preferred-size: 16.667%;
  flex-basis: 16.667%;
  max-width: 16.667%;
}

.col-xs-3 {
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  max-width: 25%;
}

.col-xs-4 {
  -ms-flex-preferred-size: 33.333%;
  flex-basis: 33.333%;
  max-width: 33.333%;
}

.col-xs-5 {
  -ms-flex-preferred-size: 41.667%;
  flex-basis: 41.667%;
  max-width: 41.667%;
}

.col-xs-6 {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  max-width: 50%;
}

.col-xs-7 {
  -ms-flex-preferred-size: 58.333%;
  flex-basis: 58.333%;
  max-width: 58.333%;
}

.col-xs-8 {
  -ms-flex-preferred-size: 66.667%;
  flex-basis: 66.667%;
  max-width: 66.667%;
}

.col-xs-9 {
  -ms-flex-preferred-size: 75%;
  flex-basis: 75%;
  max-width: 75%;
}

.col-xs-10 {
  -ms-flex-preferred-size: 83.333%;
  flex-basis: 83.333%;
  max-width: 83.333%;
}

.col-xs-11 {
  -ms-flex-preferred-size: 91.667%;
  flex-basis: 91.667%;
  max-width: 91.667%;
}

.col-xs-12 {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%;
}

.col-xs-offset-1 {
  margin-left: 8.333%;
}

.col-xs-offset-2 {
  margin-left: 16.667%;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.col-xs-offset-4 {
  margin-left: 33.333%;
}

.col-xs-offset-5 {
  margin-left: 41.667%;
}

.col-xs-offset-6 {
  margin-left: 50%;
}

.col-xs-offset-7 {
  margin-left: 58.333%;
}

.col-xs-offset-8 {
  margin-left: 66.667%;
}

.col-xs-offset-9 {
  margin-left: 75%;
}

.col-xs-offset-10 {
  margin-left: 83.333%;
}

.col-xs-offset-11 {
  margin-left: 91.667%;
}

.start-xs {
  -ms-flex-pack: start;
  -webkit-box-pack: start;
  justify-content: flex-start;
  text-align: start;
}

.center-xs {
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  text-align: center;
}

.end-xs {
  -ms-flex-pack: end;
  -webkit-box-pack: end;
  justify-content: flex-end;
  text-align: end;
}

.top-xs {
  -ms-flex-align: start;
  -webkit-box-align: start;
  align-items: flex-start;
}

.middle-xs {
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
}

.bottom-xs {
  -ms-flex-align: end;
  -webkit-box-align: end;
  align-items: flex-end;
}

.around-xs {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.between-xs {
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.first-xs {
  -ms-flex-order: -1;
  -webkit-box-ordinal-group: 0;
  order: -1;
}

.last-xs {
  -ms-flex-order: 1;
  -webkit-box-ordinal-group: 2;
  order: 1;
}

@media only screen and (min-width: 48em) {
  .container {
    width: 46rem;
  }
  .col-sm,
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .col-sm {
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
  }
  .col-sm-1 {
    -ms-flex-preferred-size: 8.333%;
    flex-basis: 8.333%;
    max-width: 8.333%;
  }
  .col-sm-2 {
    -ms-flex-preferred-size: 16.667%;
    flex-basis: 16.667%;
    max-width: 16.667%;
  }
  .col-sm-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }
  .col-sm-4 {
    -ms-flex-preferred-size: 33.333%;
    flex-basis: 33.333%;
    max-width: 33.333%;
  }
  .col-sm-5 {
    -ms-flex-preferred-size: 41.667%;
    flex-basis: 41.667%;
    max-width: 41.667%;
  }
  .col-sm-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }
  .col-sm-7 {
    -ms-flex-preferred-size: 58.333%;
    flex-basis: 58.333%;
    max-width: 58.333%;
  }
  .col-sm-8 {
    -ms-flex-preferred-size: 66.667%;
    flex-basis: 66.667%;
    max-width: 66.667%;
  }
  .col-sm-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }
  .col-sm-10 {
    -ms-flex-preferred-size: 83.333%;
    flex-basis: 83.333%;
    max-width: 83.333%;
  }
  .col-sm-11 {
    -ms-flex-preferred-size: 91.667%;
    flex-basis: 91.667%;
    max-width: 91.667%;
  }
  .col-sm-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
  .col-sm-offset-1 {
    margin-left: 8.333%;
  }
  .col-sm-offset-2 {
    margin-left: 16.667%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-4 {
    margin-left: 33.333%;
  }
  .col-sm-offset-5 {
    margin-left: 41.667%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-7 {
    margin-left: 58.333%;
  }
  .col-sm-offset-8 {
    margin-left: 66.667%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-10 {
    margin-left: 83.333%;
  }
  .col-sm-offset-11 {
    margin-left: 91.667%;
  }
  .start-sm {
    -ms-flex-pack: start;
    -webkit-box-pack: start;
    justify-content: flex-start;
    text-align: start;
  }
  .center-sm {
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
  }
  .end-sm {
    -ms-flex-pack: end;
    -webkit-box-pack: end;
    justify-content: flex-end;
    text-align: end;
  }
  .top-sm {
    -ms-flex-align: start;
    -webkit-box-align: start;
    align-items: flex-start;
  }
  .middle-sm {
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
  }
  .bottom-sm {
    -ms-flex-align: end;
    -webkit-box-align: end;
    align-items: flex-end;
  }
  .around-sm {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .between-sm {
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
  }
  .first-sm {
    -ms-flex-order: -1;
    -webkit-box-ordinal-group: 0;
    order: -1;
  }
  .last-sm {
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1;
  }
}

@media only screen and (min-width: 62em) {
  .container {
    width: 61rem;
  }
  .col-md,
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .col-md {
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
  }
  .col-md-1 {
    -ms-flex-preferred-size: 8.333%;
    flex-basis: 8.333%;
    max-width: 8.333%;
  }
  .col-md-2 {
    -ms-flex-preferred-size: 16.667%;
    flex-basis: 16.667%;
    max-width: 16.667%;
  }
  .col-md-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }
  .col-md-4 {
    -ms-flex-preferred-size: 33.333%;
    flex-basis: 33.333%;
    max-width: 33.333%;
  }
  .col-md-5 {
    -ms-flex-preferred-size: 41.667%;
    flex-basis: 41.667%;
    max-width: 41.667%;
  }
  .col-md-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }
  .col-md-7 {
    -ms-flex-preferred-size: 58.333%;
    flex-basis: 58.333%;
    max-width: 58.333%;
  }
  .col-md-8 {
    -ms-flex-preferred-size: 66.667%;
    flex-basis: 66.667%;
    max-width: 66.667%;
  }
  .col-md-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }
  .col-md-10 {
    -ms-flex-preferred-size: 83.333%;
    flex-basis: 83.333%;
    max-width: 83.333%;
  }
  .col-md-11 {
    -ms-flex-preferred-size: 91.667%;
    flex-basis: 91.667%;
    max-width: 91.667%;
  }
  .col-md-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
  .col-md-offset-1 {
    margin-left: 8.333%;
  }
  .col-md-offset-2 {
    margin-left: 16.667%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-4 {
    margin-left: 33.333%;
  }
  .col-md-offset-5 {
    margin-left: 41.667%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-7 {
    margin-left: 58.333%;
  }
  .col-md-offset-8 {
    margin-left: 66.667%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-10 {
    margin-left: 83.333%;
  }
  .col-md-offset-11 {
    margin-left: 91.667%;
  }
  .start-md {
    -ms-flex-pack: start;
    -webkit-box-pack: start;
    justify-content: flex-start;
    text-align: start;
  }
  .center-md {
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
  }
  .end-md {
    -ms-flex-pack: end;
    -webkit-box-pack: end;
    justify-content: flex-end;
    text-align: end;
  }
  .top-md {
    -ms-flex-align: start;
    -webkit-box-align: start;
    align-items: flex-start;
  }
  .middle-md {
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
  }
  .bottom-md {
    -ms-flex-align: end;
    -webkit-box-align: end;
    align-items: flex-end;
  }
  .around-md {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .between-md {
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
  }
  .first-md {
    -ms-flex-order: -1;
    -webkit-box-ordinal-group: 0;
    order: -1;
  }
  .last-md {
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1;
  }
}

@media only screen and (min-width: 75em) {
  .container {
    width: 71rem;
  }
  .col-lg,
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .col-lg {
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
  }
  .col-lg-1 {
    -ms-flex-preferred-size: 8.333%;
    flex-basis: 8.333%;
    max-width: 8.333%;
  }
  .col-lg-2 {
    -ms-flex-preferred-size: 16.667%;
    flex-basis: 16.667%;
    max-width: 16.667%;
  }
  .col-lg-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }
  .col-lg-4 {
    -ms-flex-preferred-size: 33.333%;
    flex-basis: 33.333%;
    max-width: 33.333%;
  }
  .col-lg-5 {
    -ms-flex-preferred-size: 41.667%;
    flex-basis: 41.667%;
    max-width: 41.667%;
  }
  .col-lg-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }
  .col-lg-7 {
    -ms-flex-preferred-size: 58.333%;
    flex-basis: 58.333%;
    max-width: 58.333%;
  }
  .col-lg-8 {
    -ms-flex-preferred-size: 66.667%;
    flex-basis: 66.667%;
    max-width: 66.667%;
  }
  .col-lg-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }
  .col-lg-10 {
    -ms-flex-preferred-size: 83.333%;
    flex-basis: 83.333%;
    max-width: 83.333%;
  }
  .col-lg-11 {
    -ms-flex-preferred-size: 91.667%;
    flex-basis: 91.667%;
    max-width: 91.667%;
  }
  .col-lg-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
  .col-lg-offset-1 {
    margin-left: 8.333%;
  }
  .col-lg-offset-2 {
    margin-left: 16.667%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-4 {
    margin-left: 33.333%;
  }
  .col-lg-offset-5 {
    margin-left: 41.667%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-7 {
    margin-left: 58.333%;
  }
  .col-lg-offset-8 {
    margin-left: 66.667%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-10 {
    margin-left: 83.333%;
  }
  .col-lg-offset-11 {
    margin-left: 91.667%;
  }
  .start-lg {
    -ms-flex-pack: start;
    -webkit-box-pack: start;
    justify-content: flex-start;
    text-align: start;
  }
  .center-lg {
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
  }
  .end-lg {
    -ms-flex-pack: end;
    -webkit-box-pack: end;
    justify-content: flex-end;
    text-align: end;
  }
  .top-lg {
    -ms-flex-align: start;
    -webkit-box-align: start;
    align-items: flex-start;
  }
  .middle-lg {
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
  }
  .bottom-lg {
    -ms-flex-align: end;
    -webkit-box-align: end;
    align-items: flex-end;
  }
  .around-lg {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .between-lg {
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
  }
  .first-lg {
    -ms-flex-order: -1;
    -webkit-box-ordinal-group: 0;
    order: -1;
  }
  .last-lg {
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1;
  }
}

@media (max-width: 991.98px) {
  div[class^="col"] > div[class^="col"] {
    padding-left: 0;
    padding-right: 0;
  }
}

.container {
  max-width: 1200px;
  margin: auto;
  padding-top: 4em;
  padding-bottom: 4em;
  padding-left: 2em;
  padding-right: 2em;
}

.container--fluid {
  max-width: 100%;
}

.container--dark {
  background: #444444;
}

.container--brand {
  background: #ff6501;
}

/**
 * Basic typography style for copy text
 */
body {
  color: #494949;
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.theme--dark h1, .theme--dark h2, .theme--dark h3, .theme--dark h4, .theme--dark h5, .theme--dark h6 {
  color: #e4e4e4;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.75rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1rem;
}

.lead {
  font-size: 1.25em;
  font-weight: 300;
}

.--on-dark {
  color: white;
}

/**
Button configurations
- color
- states
- size
*/
.button {
  padding: .5em 1em;
  margin-bottom: 1em;
  color: #fff;
  -webkit-transition: background .15s;
  transition: background .15s;
  border-radius: .15em;
  border: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.25em;
  text-transform: uppercase;
  text-decoration: none;
}

.button:hover, .button:focus {
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

.button--large {
  font-size: 1.2em;
}

.button--small {
  font-size: 0.83333em;
}

.button--bold {
  font-weight: bold;
}

.button--block {
  display: block;
  width: 100%;
}

.button--default {
  background-color: #ff6501;
  border-color: #cd5100;
}

.button--default:hover, .button--default:active {
  background: #ff8434;
}

.button--secondary {
  background-color: #3b3b3b;
  border-color: #222222;
}

.button--secondary:hover, .button--secondary:active {
  background: #555555;
}

/*
	- Show responsive menu on md-max

	current issue(s):
	- which element to put the --active class. ideally at the parent (ie.header-main__site-nav) so I can apply and trigger the pseudo-element for dark overlay on other elements (ie. checkbox:after)
	- currently the pseudo-element is applied on .header-main__site-nav-items. I can’t because I need to apply transform to it, and the dark overlay will appear without transition until the animation is complete

*/
.header-main {
  -webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
}

.header-main__contact {
  padding: 1em 2em;
  background: #3b3b3b;
  color: white;
  text-align: right;
}

.header-main__site-nav {
  padding: 1em 2em;
  position: relative;
}

@media (min-width: 768px) {
  .header-main__site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 768px) {
  .header-main__site-nav::before {
    content: '';
    position: fixed;
    left: 0;
    display: block;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    -webkit-transition: opacity 0.15s ease-in-out;
    transition: opacity 0.15s ease-in-out;
    opacity: 0;
    z-index: -1;
  }
}

.header-main__site-logo img {
  max-width: 120px;
}

@media (max-width: 768px) {
  .header-main__site-logo img {
    max-width: 200px;
  }
}

@media (min-width: 992px) {
  .header-main__site-logo img {
    max-width: 200px;
  }
}

.header-main__site-nav-items {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 768px) {
  .header-main__site-nav-items {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    background: white;
    -webkit-box-shadow: -2px 1px 5px rgba(0, 0, 0, 0.2);
            box-shadow: -2px 1px 5px rgba(0, 0, 0, 0.2);
    display: block;
    height: 100vh;
    z-index: 5;
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    -webkit-transform: translate(100%, 0);
            transform: translate(100%, 0);
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
}

.header-main__site-nav-items ul {
  list-style: none;
  padding-left: 0;
  /* to stop flickering of text in safari */
  -webkit-font-smoothing: antialiased;
}

@media (max-width: 768px) {
  .header-main__site-nav-items ul {
    height: 100%;
    padding: 0 1em;
    background: white;
  }
}

@media (min-width: 768px) {
  .header-main__site-nav-items ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-bottom: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header-main__site-nav-items li {
  font-family: "Montserrat", sans-serif;
}

@media (max-width: 768px) {
  .header-main__site-nav-items li {
    font-size: 1.25em;
  }
}

@media (min-width: 1200px) {
  .header-main__site-nav-items li {
    font-size: 1.25em;
  }
}

.header-main__site-nav-items li a:not(.button) {
  padding: .5em;
  display: block;
  color: #3b3b3b;
  font-weight: 600;
  text-decoration: none;
  -webkit-transition: color 0.15s ease-in-out;
  transition: color 0.15s ease-in-out;
}

@media (min-width: 992px) {
  .header-main__site-nav-items li a:not(.button) {
    padding: 1em .85em;
  }
}

@media (max-width: 768px) {
  .header-main__site-nav-items li a:not(.button) {
    padding: 1em;
  }
}

.header-main__site-nav-items li a:not(.button):hover, .header-main__site-nav-items li a:not(.button):focus {
  color: #ff6501;
}

@media (min-width: 992px) {
  .header-main__site-nav-items li:last-child {
    margin-left: 1em;
  }
}

@media (max-width: 768px) {
  .header-main__site-nav-items li:last-child {
    margin-top: 1.5em;
  }
}

.header-main__site-nav-items li .button {
  padding: 1em;
}

@media (max-width: 768px) {
  .header-main__site-nav-items li .button {
    margin-top: 1em;
    padding-left: .5em;
    padding-right: .5em;
  }
}

.header-main__nav-toggle {
  position: relative;
  z-index: 2;
  /* hidden checkbox as hamburger menu on smaller screens */
}

@media (min-width: 768px) {
  .header-main__nav-toggle {
    display: none;
  }
}

@media (max-width: 768px) {
  .header-main__nav-toggle {
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    right: 2em;
  }
}

.header-main__nav-toggle input[type='button'] {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

.header-main__nav-toggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #999999;
  border-radius: 3px;
  z-index: 1;
  -webkit-transform-origin: 4px 0px;
          transform-origin: 4px 0px;
  -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

.header-main.--active .header-main__nav-toggle input[type='button'] ~ span {
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(2px, -1px);
          transform: rotate(45deg) translate(2px, -1px);
  background: #444444;
}

.header-main.--active .header-main__nav-toggle input[type='button'] ~ span:nth-of-type(2) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
          transform: rotate(0deg) scale(0.2, 0.2);
}

.header-main.--active .header-main__nav-toggle input[type='button'] ~ span:nth-of-type(3) {
  -webkit-transform: rotate(-45deg) translate(0, -1px);
          transform: rotate(-45deg) translate(0, -1px);
}

@media (max-width: 768px) {
  .button--close {
    display: block;
    margin: 1em 1em 0 auto;
    color: #999999;
    font-size: .85em;
  }
}

@media (min-width: 768px) {
  .button--close {
    display: none;
  }
}

.button--close:hover, .button--close:focus {
  color: #999999;
}

@media (max-width: 768px) {
  .header-main.--active .header-main__site-nav::before {
    opacity: 1;
    z-index: 1;
  }
}

.header-main.--active .header-main__site-nav-items {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.banner {
  position: relative;
}

@media (min-width: 992px) {
  .banner {
    height: 70vh;
  }
}

.banner--main {
  min-height: 400px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  background-image: url("https://images.unsplash.com/photo-1464655646192-3cb2ace7a67e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3f9aac1a9bf8c8e0c465aa84196e618a&auto=format&fit=crop&w=1650&q=80");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.banner--main:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
}

.banner .container {
  position: relative;
  max-width: 800px;
  margin: auto;
}

.banner h1 {
  color: #fff;
  text-align: center;
  margin-bottom: 0;
}

@media (max-width: 767px) {
  .banner h1 {
    font-size: 36px;
  }
}

.services-items-wrapper {
  margin-top: 1em;
}

@media (max-width: 767px) {
  .services-items-wrapper {
    margin-top: 3em;
  }
}

.service-item {
  display: block;
  padding: 2em;
}

@media (min-width: 768px) {
  .service-item {
    position: relative;
    margin-bottom: 1em;
    border-radius: 5px;
    -webkit-transition: -webkit-transform .3s ease-in-out;
    transition: -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
  }
}

@media (min-width: 768px) {
  .service-item::before {
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.2);
    opacity: 0;
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
  }
}

.service-item:hover, .service-item:focus {
  text-decoration: none;
}

@media (min-width: 768px) {
  .service-item:hover, .service-item:focus {
    -webkit-transform: translate3d(0, -0.25em, 0);
            transform: translate3d(0, -0.25em, 0);
  }
  .service-item:hover::before, .service-item:focus::before {
    opacity: 1;
  }
}

@media (max-width: 767px) {
  .service-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 0;
    padding-left: 1em;
    padding-right: 1em;
    border-bottom: 1px solid #e4e4e4;
  }
}

@media (max-width: 767px) {
  .col-xs-12:first-child .service-item {
    border-top: 1px solid #e4e4e4;
  }
}

.service-item .icon-service {
  display: block;
  margin-bottom: 1em;
  text-align: center;
}

@media (max-width: 767px) {
  .service-item .icon-service {
    margin-bottom: 0;
  }
}

.service-item img {
  height: 120px;
  display: block;
  margin: auto;
}

@media (max-width: 767px) {
  .service-item img {
    height: auto;
    width: 120px;
  }
}

.service-item span {
  display: block;
  margin: auto;
  max-width: 250px;
  color: #494949;
  font-weight: 600;
  text-align: center;
  -webkit-transition: color .15s ease-in-out;
  transition: color .15s ease-in-out;
}

@media (max-width: 767px) {
  .service-item span {
    margin: initial;
    margin-left: 1em;
    text-align: left;
  }
}

.service-item:hover span, .service-item:focus span {
  color: #ff6501;
}

.page-home--case-studies {
  padding-left: 1rem;
  padding-right: 1rem;
}

.page-home--case-studies p.--on-dark {
  max-width: 780px;
}

.case-studies-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 4em;
}

.case-study-item {
  position: relative;
  overflow: hidden;
}

@media (min-width: 576px) {
  .case-study-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    height: 400px;
  }
}

.case-study-item:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0, 0, 0, 0)), color-stop(1%, rgba(0, 0, 0, 0.1)), to(black));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.1) 1%, black 100%);
}

.case-study-item .case-study-info {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem 2rem;
}

.case-study-item img {
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.case-study-item:hover:before, .case-study-item:focus:before {
  content: '';
}

.case-study-item:hover img, .case-study-item:focus img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.button--consult {
  display: block;
  margin: 3em auto 0;
  text-align: center;
}

@media (min-width: 576px) {
  .button--consult {
    width: 400px;
  }
}

.page-home--testimonials.page-home h2 {
  margin-bottom: .5em;
}

.testimonials--item {
  padding-top: 4em;
  padding-left: 1em;
  padding-right: 1em;
  position: relative;
  text-align: center;
}

@media (min-width: 576px) {
  .testimonials--item {
    padding-left: 3em;
    padding-right: 3em;
  }
}

@media (min-width: 768px) {
  .testimonials--item {
    min-height: 400px;
  }
}

.testimonials--item p {
  font-size: 1.15rem;
}

@media (max-width: 767px) {
  .testimonials .lead {
    font-size: 1em;
  }
}

.testimonials .lead > .muted:first-child {
  display: block;
  margin-bottom: 1em;
  color: #ff6501;
}

.testimonials blockquote:after {
  content: '\201C';
  color: #999999;
  font-family: Source Sans Pro;
  font-size: 120px;
  font-weight: 400;
  position: absolute;
  left: 50%;
  bottom: calc(100% - 30px);
  background: #fff;
  height: 55px;
  width: 55px;
  line-height: normal;
  text-align: center;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.testimonials .blockquote-footer {
  margin-top: 2em;
  font-style: normal;
}

.testimonials .blockquote-footer--person {
  display: block;
  margin-bottom: .25em;
  font-weight: 600;
}

.page-inner-services-list {
  max-width: 1180px;
  margin: auto auto 6rem;
}

.services-list__item {
  border-radius: 5px;
  overflow: hidden;
  background: #f7f7f7;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

@media (min-width: 768px) {
  .services-list__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.services-list__item:not(:last-of-type) {
  margin-bottom: 3rem;
}

@media (min-width: 768px) {
  .services-list__item > div {
    width: 50%;
  }
}

.services-list__item-desc {
  padding: 3em;
}

.services-list__item-desc p:last-child {
  margin-bottom: 0;
}

.services-list__item-image {
  background-size: cover;
  background-position: center;
}

@media (min-width: 768px) {
  .services-list__item:nth-child(odd) .services-list__item-image {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media (max-width: 768px) {
  .services-list__item .services-list__item-image {
    height: 250px;
  }
}

.about__location-header {
  margin-bottom: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  text-align: center;
  opacity: .75;
}

@media screen and (max-width: 576px) {
  .about__location-header {
    font-size: 1.5rem;
  }
}

.about__location-header::before, .about__location-header::after {
  content: '';
  height: 3px;
  position: absolute;
  left: 4.5rem;
  right: 4.5rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #e65b01;
}

@media screen and (max-width: 576px) {
  .about__location-header::before, .about__location-header::after {
    left: 0;
    right: 0;
  }
}

.about__location-header span {
  position: relative;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  z-index: 2;
  background: white;
}

@media screen and (max-width: 576px) {
  .about__location-header span {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.about__item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  overflow: hidden;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

@media (min-width: 576px) {
  .about__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.about__item:not(:last-of-type) {
  margin-bottom: 3rem;
}

.about__item:last-of-type {
  margin-bottom: 6rem;
}

@media (min-width: 576px) {
  .about__item > div {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.about__item-desc {
  padding: 3em;
}

.about__item-desc p:last-child {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .about__item .about__item-image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 400px;
            flex: 0 0 400px;
    padding-right: 3em;
  }
}

@media (max-width: 767px) {
  .about__item .about__item-image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .about__item .about__item-image {
    padding-right: 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

.about__item-image img {
  border: 1px solid #e4e4e4;
  display: block;
  margin: auto;
  width: 450px;
}

.about__title, .about__email, .about__contactno {
  margin-bottom: .5em;
  display: block;
  color: #494949;
}

.about__email, .about__contactno {
  color: #ff6501;
  text-decoration: underline;
  word-break: break-word;
}

.about__contactno {
  margin-bottom: 1em;
}

.about__item-desc .icon-ed {
  display: inline-block;
  margin-right: .5em;
}

.about__item-desc .icon-ed svg {
  width: 16px;
  max-height: 20px;
  -webkit-transform: translateY(0.25em);
          transform: translateY(0.25em);
}

.about__item-desc .icon-ed svg g {
  fill: #494949;
}

.case-study__item {
  border-radius: 5px;
  overflow: hidden;
  background: #f7f7f7;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.case-study__item:not(:last-of-type) {
  margin-bottom: 3rem;
}

.case-study__item-image {
  max-height: 350px;
  overflow: hidden;
}

.case-study__item-image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.case-study__item-desc {
  padding: 3em;
}

.case-study__item-desc h4 {
  text-align: center;
}

.case-study__item-desc p:last-child {
  margin-bottom: 0;
}

.case-study__label {
  display: block;
  text-align: center;
}

.page-inner--contact .page-inner__page-header + .row {
  margin-top: 0;
}

@media (max-width: 992px) {
  .page-inner--contact .page-inner__page-header + .row {
    display: block;
  }
}

.contact-item-wrapper {
  max-width: 600px;
  margin: 5em auto 0;
}

.contact-item-wrapper:not(:first-of-type) {
  margin-top: 3rem;
}

.contact-item-wrapper dd {
  margin-bottom: 0;
}

.contact-item__desc h4 {
  margin-bottom: 0;
}

.contact-item__map {
  margin-top: 5em;
}

.responsive-map {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
  min-width: 400px;
  margin-top: 3em;
}

@media (max-width: 767px) {
  .responsive-map {
    padding-bottom: 56.25%;
  }
}

.responsive-map iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.contact-form-wrapper {
  margin-top: 5em;
  margin-left: 3em;
}

@media (max-width: 992px) {
  .contact-form-wrapper {
    margin-left: 0;
  }
}

/* -------------------------------- 
Form from CodyHouse (https://codyhouse.co/demo/contact-form/index.html)
-------------------------------- */
.cd-form {
  max-width: 600px;
  margin: auto;
  padding: 2em;
  background: #f7f7f7;
  border: 1px solid #e4e4e4;
  border-radius: 10px;
}

.cd-form::after {
  clear: both;
  content: "";
  display: table;
}

.cd-form legend {
  font-size: 1.5rem;
  font-weight: 600;
}

.cd-form span {
  display: block;
  font-size: 1rem;
  font-weight: 400;
  margin-top: .5em;
}

.cd-form div {
  /* form element wrapper */
  position: relative;
  margin: 20px 0;
}

.cd-form h4, .cd-form .cd-label {
  font-size: 1.3rem;
  color: #94aab0;
  margin-bottom: 10px;
}

.cd-form .cd-label {
  display: block;
}

.cd-form input, .cd-form textarea, .cd-form select, .cd-form label {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  color: #2b3e51;
}

.cd-form input[type="text"],
.cd-form input[type="email"],
.cd-form textarea,
.cd-form select,
.cd-form legend {
  display: block;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

.cd-form input[type="text"],
.cd-form input[type="email"],
.cd-form textarea,
.cd-form select {
  /* general style for input elements */
  padding: 12px;
  border: 1px solid #cfd9db;
  background-color: #ffffff;
  border-radius: .25em;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08);
}

.cd-form input[type="text"]:focus,
.cd-form input[type="email"]:focus,
.cd-form textarea:focus,
.cd-form select:focus {
  outline: none;
  border-color: #2c97de;
  -webkit-box-shadow: 0 0 5px rgba(44, 151, 222, 0.2);
          box-shadow: 0 0 5px rgba(44, 151, 222, 0.2);
}

.cd-form .cd-select {
  /* select element wapper */
  position: relative;
}

.cd-form .cd-select::after {
  /* arrow icon for select element */
  content: '';
  position: absolute;
  z-index: 1;
  right: 16px;
  top: 50%;
  margin-top: -8px;
  display: block;
  width: 16px;
  height: 16px;
  background: url("../img/form-icons/cd-icon-arrow.svg") no-repeat center center;
  pointer-events: none;
}

.cd-form select {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
  cursor: pointer;
}

.cd-form select::-ms-expand {
  display: none;
}

.cd-form .cd-form-list {
  margin-top: 16px;
}

.cd-form .cd-form-list::after {
  clear: both;
  content: "";
  display: table;
}

.cd-form .cd-form-list li {
  /* wrapper for radio and checkbox input types */
  display: inline-block;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0 26px 16px 0;
  float: left;
}

.cd-form input[type=radio],
.cd-form input[type=checkbox] {
  /* hide original check and radio buttons */
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  margin: 0;
  padding: 0;
  opacity: 0;
  z-index: 2;
}

.cd-form input[type="radio"] + label,
.cd-form input[type="checkbox"] + label {
  padding-left: 24px;
}

.cd-form input[type="radio"] + label::before,
.cd-form input[type="radio"] + label::after,
.cd-form input[type="checkbox"] + label::before,
.cd-form input[type="checkbox"] + label::after {
  /* custom radio and check boxes */
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -8px;
  width: 16px;
  height: 16px;
}

.cd-form input[type="radio"] + label::before,
.cd-form input[type="checkbox"] + label::before {
  border: 1px solid #cfd9db;
  background: #ffffff;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08);
}

.cd-form input[type="radio"] + label::before,
.cd-form input[type="radio"] + label::after {
  border-radius: 50%;
}

.cd-form input[type="checkbox"] + label::before,
.cd-form input[type="checkbox"] + label::after {
  border-radius: .25em;
}

.cd-form input[type="radio"] + label::after,
.cd-form input[type="checkbox"] + label::after {
  background-color: #2c97de;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-box-shadow: 0 0 5px rgba(44, 151, 222, 0.4);
          box-shadow: 0 0 5px rgba(44, 151, 222, 0.4);
  display: none;
}

.cd-form input[type="radio"] + label::after {
  /* custom image for radio button */
  background-image: url("../img/form-icons/cd-icon-radio.svg");
}

.cd-form input[type="checkbox"] + label::after {
  /* custom image for checkbox */
  background-image: url("../img/form-icons/cd-icon-check.svg");
}

.cd-form input[type="radio"]:focus + label::before,
.cd-form input[type="checkbox"]:focus + label::before {
  /* add focus effect for radio and check buttons */
  -webkit-box-shadow: 0 0 5px rgba(44, 151, 222, 0.6);
          box-shadow: 0 0 5px rgba(44, 151, 222, 0.6);
}

.cd-form input[type="radio"]:checked + label::after,
.cd-form input[type="checkbox"]:checked + label::after {
  display: block;
}

.cd-form input[type="radio"]:checked + label::before,
.cd-form input[type="radio"]:checked + label::after,
.cd-form input[type="checkbox"]:checked + label::before,
.cd-form input[type="checkbox"]:checked + label::after {
  -webkit-animation: cd-bounce 0.3s;
  animation: cd-bounce 0.3s;
}

.cd-form textarea {
  min-height: 200px;
  resize: vertical;
  overflow: auto;
}

.cd-form input[type="submit"] {
  /* button style */
  border: none;
  border-radius: .25em;
  padding: 16px 20px;
  color: #ffffff;
  font-weight: bold;
  float: right;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

.no-touch .cd-form input[type="submit"]:hover {
  background: #42a2e1;
}

.cd-form input[type="submit"]:focus {
  outline: none;
}

.cd-form input[type="submit"]:active {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

.cd-form [required] {
  background: url("../img/form-icons/cd-required.svg") no-repeat top right #fff;
}

.cd-form .error-message p {
  background: #e94b35;
  color: #ffffff;
  font-size: 1.4rem;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border-radius: .25em;
  padding: 16px;
}

.cd-form .error {
  border-color: #e94b35 !important;
}

@media only screen and (min-width: 600px) {
  .cd-form div {
    /* form element wrapper */
    margin: 32px 0;
  }
  .cd-form legend + div {
    /* reduce margin-top for first form element after the legend */
    margin-top: 20px;
  }
  .cd-form h4, .cd-form .cd-label {
    font-size: 1.25rem;
    margin-bottom: 10px;
  }
  .cd-form input[type="text"],
  .cd-form input[type="email"],
  .cd-form textarea,
  .cd-form select {
    padding: 16px;
  }
}

@-webkit-keyframes cd-bounce {
  0%, 100% {
    -webkit-transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.8);
  }
}

@keyframes cd-bounce {
  0%, 100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
}

/* -------------------------------- 
Custom icons
-------------------------------- */
.cd-form .icon input, .cd-form .icon select, .cd-form .icon textarea {
  padding-left: 54px !important;
}

.cd-form .user {
  background: url("../img/form-icons/cd-icon-user.svg") no-repeat 16px center;
}

.cd-form [required].user {
  background: url("../img/form-icons/cd-icon-user.svg") no-repeat 16px center, url("../img/form-icons/cd-required.svg") no-repeat top right #fff;
}

.cd-form .company {
  background: url("../img/form-icons/cd-icon-company.svg") no-repeat 16px center;
}

.cd-form [required].company {
  background: url("../img/form-icons/cd-icon-company.svg") no-repeat 16px center, url("../img/form-icons/cd-required.svg") no-repeat top right #fff;
}

.cd-form .email {
  background: url("../img/form-icons/cd-icon-email.svg") no-repeat 16px center;
}

.cd-form [required].email {
  background: url("../img/form-icons/cd-icon-email.svg") no-repeat 16px center, url("../img/form-icons/cd-required.svg") no-repeat top right #fff;
}

.cd-form .budget {
  background: url("../img/form-icons/cd-icon-budget.svg") no-repeat 16px center;
}

.cd-form .message {
  background: url("../img/form-icons/cd-icon-message.svg") no-repeat 16px 16px;
}

.cd-form [required].message {
  background: url("../img/form-icons/cd-icon-message.svg") no-repeat 16px 16px, url("../img/form-icons/cd-required.svg") no-repeat top right #fff;
}

/* -------------------------------- 
FLoating labels 
-------------------------------- */
.js .floating-labels div {
  margin: 28px 0;
}

.js .floating-labels .cd-label {
  position: absolute;
  top: 16px;
  left: 16px;
  font-size: 1.6rem;
  cursor: text;
  -webkit-transition: top 0.2s, left 0.2s, font-size 0.2s;
  transition: top 0.2s, left 0.2s, font-size 0.2s;
}

.js .floating-labels .icon .cd-label {
  left: 56px;
}

.js .floating-labels .cd-label.float {
  /* move label out the input field */
  font-size: 1.2rem;
  top: -16px;
  left: 0 !important;
}

@media only screen and (min-width: 600px) {
  .js .floating-labels legend + div {
    /* reduce margin-top for first form element after the legend */
    margin-top: 16px;
  }
  .js .floating-labels .cd-label {
    top: 20px;
  }
}

.button .spin-loader {
  margin: 0 12px;
}

.page-inner__page-header {
  margin-bottom: 0;
}

/*
* Utilities
*/
.br {
  display: block;
}

a:hover, a:focus {
  color: #ff6501;
}

.header-main__contact a[href^="tel"],
.footer-contact a[href^="tel"],
.footer-link {
  color: #fff;
}

.header-main__contact a[href^="tel"]:hover, .header-main__contact a[href^="tel"]:focus,
.footer-contact a[href^="tel"]:hover,
.footer-contact a[href^="tel"]:focus,
.footer-link:hover,
.footer-link:focus {
  color: #fff;
}

a.link-delete {
  color: #dc3545;
}

img {
  max-width: 100%;
  height: auto;
}

/* FRAMEWORK RESET */
/* COMPONENTS */
.component-header {
  color: #999999;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.header-main__contact .icon-ed {
  display: inline-block;
}

.header-main__contact .icon-ed svg {
  width: 36px;
  max-height: 20px;
  -webkit-transform: translateY(0.25em);
          transform: translateY(0.25em);
}

.header-main__contact .icon-ed svg g {
  fill: #fff;
}

#footer {
  background: #3b3b3b;
  color: #fff;
}

.footer-navigation {
  padding-bottom: 3em;
}

.footer-navigation dt {
  font-weight: 700;
}

.footer-navigation dd:not(:last-child) {
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .footer-navigation .row > .col-sm-12:first-of-type {
    margin-top: 1em;
  }
}

@media (max-width: 768px) {
  .footer-navigation .row > .col-sm-12:not(.last-of-type) {
    margin-bottom: 2em;
  }
}

.footer-contact {
  list-style-type: none;
  padding-left: 0;
}

.footer-contact li {
  line-height: 2em;
}

.footer-contact .icon-ed {
  display: inline-block;
  padding-right: .25em;
}

.footer-contact .icon-ed svg {
  width: 1em;
  max-height: 20px;
}

.footer-contact .icon-ed svg g {
  fill: #fff;
}

.footer-divider {
  height: 1px;
  background: white;
  border: 0;
  opacity: .15;
}

.footer-bottom {
  text-align: center;
  padding: 2em;
  background: rgba(0, 0, 0, 0.3);
}

/* PAGES */
section[class*="page-home"],
section[class*="page-inner"] {
  padding-top: 4em;
  padding-bottom: 4em;
}

section[class*="page-home"] h2, section[class*="page-home"] p,
section[class*="page-inner"] h2,
section[class*="page-inner"] p {
  text-align: center;
  max-width: 800px;
  margin: auto;
}

.page-inner__page-header {
  margin-left: -2em;
  margin-right: -2em;
  padding: 4em 0;
  background: #e65b01;
  color: #fff;
  text-align: center;
}

.page-inner .lead {
  font-size: 1.75em;
  text-align: center;
}

.page-inner .lead + p {
  max-width: 700px;
  margin: auto;
  font-size: 1.15em;
  text-align: center;
}

.page-inner__page-header + .row {
  margin-top: 5rem;
  margin-bottom: 4rem;
}
/*# sourceMappingURL=styles-redesign.css.map */