@charset 'UTF-8';

// 1. Configuration and helpers
@import
  'abstracts/variables',
  'abstracts/functions',
  'abstracts/mixins';

// 2. Libraries / Vendors
@import
  'lib/normalize',
  'lib/bootstrap/bootstrap-reboot',
  'lib/slick-overrides';

// 3. Base stuff
@import
	// 'base/base',
	'base/flexboxgrid',
	'base/grid',
//   'base/fonts',
  'base/typography';
//   'base/helpers';

// 4. Layout-related sections
// @import
//   'layouts/header',
//   'layouts/footer';
  // 'layouts/forms';

// 5. Components
@import
  'components/buttons',
  // 'components/alert',
  // 'components/cards',
  // 'components/modal';
  'components/navigation',
  'components/banners';

// 6. Page-specific styles
@import
  'pages/home',
  'pages/services',
  'pages/about',
  'pages/case-studies',
  'pages/contact';

// 7. Themes
// @import
// 	'themes/default';
	



// body {
// 	margin-bottom: 20em;
// }

.page-inner__page-header {
  margin-bottom: 0;
}

/*
* Utilities
*/

// next line
.br {
	display: block;
}

a {
  &:hover,
  &:focus {
    color: $brand-color;
  }
}
.header-main__contact a[href^="tel"],
.footer-contact a[href^="tel"],
.footer-link {
  color: #fff;
  &:hover,
  &:focus {
    color: #fff;
  }
}
a.link-delete {
	color: $red;
}

//responsive image
img {
	max-width: 100%;
	height: auto;
}


/* FRAMEWORK RESET */
// .container-fluid {
//   padding-left: 1em;
//   padding-right: ;
// }


/* COMPONENTS */

.component-header {
	color: $mid-grey;
	font-weight: 600;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.header-main__contact {
  .icon-ed {
    display: inline-block;
    // padding-right: .25em;
  }
  .icon-ed svg {
    width: 36px;
    max-height: 20px;
    transform: translateY(.25em);
  }
  .icon-ed svg g {
    fill:#fff;
  }
}


#footer{
  background: $brand-highlight-color;
  color: #fff;
}
.footer-navigation {
  padding-bottom: 3em;

  dt {
    font-weight: 700;
  }
  dd:not(:last-child) {
    margin-bottom: 0;
  }
}
.footer-navigation .row > .col-sm-12 {
  &:first-of-type {
    @include md-max {
      margin-top: 1em;
    }
  }
  &:not(.last-of-type) {
    @include md-max {
      margin-bottom: 2em;
    }
  }
}
.footer-contact {
  list-style-type: none;
  padding-left: 0;

  li {
    line-height: 2em;
  }
  .icon-ed {
    display: inline-block;
    padding-right: .25em;
  }
  .icon-ed svg {
    width: 1em;
    max-height: 20px;
  }
  .icon-ed svg g {
    fill:#fff;
  }
}
.footer-divider {
  height: 1px;
  background: white;
  border: 0;
  opacity: .15;
}
.footer-bottom {
  text-align: center;
  padding: 2em;
  background: rgba(0,0,0,.3);
}


/* PAGES */
section[class*="page-home"],
section[class*="page-inner"] {
	padding-top: 4em;
	padding-bottom: 4em;
	
	h2, p {
		text-align: center;
		max-width: 800px;
		margin: auto;
	}
}

.page-inner {
	&__page-header {
    margin-left: -2em;
    margin-right: -2em;
    padding: 4em 0;
    background: shade($brand-color, 10%);
    color: #fff;
    text-align: center;
  }
  .lead {
    font-size: 1.75em;
    text-align: center;
  }
  .lead + p {
    max-width: 700px;
    margin: auto;
    font-size: 1.15em;
    text-align: center;
  }
  &__page-header + .row {
    margin-top: 5rem;
    margin-bottom: 4rem;
  }
}
