.banner {
	position: relative;

	@include lg {
		height: 70vh;
	}

	&--main {
		min-height: 400px;
		text-align: center;
		display: flex;
		justify-content: center;
		align-content: center;
		background-image: url('https://images.unsplash.com/photo-1464655646192-3cb2ace7a67e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3f9aac1a9bf8c8e0c465aa84196e618a&auto=format&fit=crop&w=1650&q=80');
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;

		//overlay
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background:  rgba(0,0,0,.7);
		}
	}

	.container {
		position: relative;
		max-width: 800px;
		margin: auto;
		

		// @include md {
		// 	@include centerer(false, true);
		// 	max-width: 1000px;
		// 	padding-left: 2em;
		// 	padding-right: 2em;
		// 	margin: auto;
		// }
		
	}

	h1 {
		color: #fff;
		text-align: center;
		margin-bottom: 0;

		@include sm-max {
			font-size: 36px;
		}
	}
}