.ED-card-contract {
	position: relative;

	&:first-of-type {
		margin-top: 1rem;
	}
	&:last-of-type {
		margin-bottom: 3rem;
	}
	&:not(:last-of-type) {
		margin-bottom: 1.5rem;
	}
	&:before {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		opacity: 0;
		box-shadow: 1px 1px 10px rgba(0,0,0,.2);
		transition: opacity .3s ease-in-out;
		z-index: -1;
	}
	&:hover, &:focus {
		&:before {
			opacity: 1;
		}
	}

	.card-body {
		padding: 1.5rem;

		@include media-breakpoint-up(md) {
			display: inline-flex;
		}
	}
	.card-info {
		flex-grow: 1;
		@include media-breakpoint-up(md) {
			max-width: 80%;
		}
	}
	.card-cta {
		@include media-breakpoint-up(md) {
			align-self: center;
		}
		@include media-breakpoint-down(md) {
			margin-top: 1rem;
		}
	}
	.card-cta .btn {
		@include media-breakpoint-down(sm) {
			display: block;
			width: 100%;

			&:first-child {
				margin-bottom: .5rem;
			}
		}
	}
	.card-title {
		font-size: 1.5rem;
		font-weight: 400;
		margin-bottom: 1.25rem;
	}
	.ED-contractor-list,
	.ED-contract-status {
		display: block;
	}
}

.card.ED-got-questions {
	border-width: 0;
	overflow: hidden;

	@include media-breakpoint-up(md) {
		width: 50%;
	}
	

	&:first-child {
		@include media-breakpoint-up(md) {
			margin-right: 1rem;
		}
		@include media-breakpoint-down(md) {
			margin-bottom: 1rem;
		}
	}
	
	.card-body {
		background: $gray-200;
	}

	a[data-toggle="collapse"] {
		display: block;
	}
}


.ED-subtitle {
	@extend %muted-labels;
}
