// @import "lib/bootstrap/bootstrap";

.modal {
	background-color: rgba(0,0,0,.5);
}
.modal-header {
	border: none;
	display: block;
	position: relative;
}
.modal-header .close {
	position: absolute;
	right: 1rem;
	top: 1rem;
}
.modal-header > *:first-child {
	margin-top: 2rem;
}
.modal-title {
	margin-left: 2rem;
	margin-right: 2rem;
	margin-bottom: 0;
	// margin: 2rem 2rem 0;
	text-align: center;
}
.modal-title + p {
	max-width: 600px;
	margin: 0 auto 1rem;
	text-align: center;
}
//blur main content if modal is shown
.modal-open main > *:not(.modal) {
	filter: blur(3px);
}
.modal-link-dismiss {
	display: block;
	margin-top: 1rem;
	margin-bottom: 1rem;
}
.wrapper-modal-cta {
	text-align: center;

	.btn + a {
		margin-top: 1rem;
		display: block;
	}
}
.modal-body.contract-preview {
	overflow: hidden;
}
.contract-preview .wrapper-contract-preview {
	max-width: 700px;
	margin: auto;
	border-radius: $border-radius;
	box-shadow: 1px 1px 10px rgba(0,0,0,.4);

	img {
		margin: auto;
		display: block;
		opacity: 0;
	}
}
.contract-preview .wrapper-modal-cta {
	margin-top: -7rem;
	position: relative;

	.modal-link-dismiss {
		margin-bottom: 0;
	}
}
.modal .icon-main-wrapper {
	font-size: 3rem;
	margin-top: 2rem;
	text-align: center;

	& + .modal-title {
		margin-top: 1rem;
	}
}

.modal-body.max-form-width {
	& > *:first-child {
		max-width: 700px;
		margin: auto;
	}
}
.modal-body.send-contract {
	
	.contractor-contact {
		&:not(:last-of-type) {
			margin-bottom: 2rem;
		}
		span {
			display: block;
		}
		.contractor-company {
			font-weight: 600;
		}
	}
	form .form-group:first-of-type {
		@include media-breakpoint-down(md) {
			margin-top: 4rem;
		}
	}
}
