/*
	- Show responsive menu on md-max

	current issue(s):
	- which element to put the --active class. ideally at the parent (ie.header-main__site-nav) so I can apply and trigger the pseudo-element for dark overlay on other elements (ie. checkbox:after)
	- currently the pseudo-element is applied on .header-main__site-nav-items. I can’t because I need to apply transform to it, and the dark overlay will appear without transition until the animation is complete

*/

.header-main {	
	box-shadow: 0px 1px 5px rgba(0,0,0,.2);

	&__contact {
		padding: 1em 2em;
		background: $brand-highlight-color;
		color: white;
		text-align: right;
	}

	&__site-nav {
		padding: 1em 2em;
		position: relative;

		@include md {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}	

		&::before {
			@include md-max {
				content: '';
				position: fixed;
				left: 0;
				display: block;
				right: 0;
				top: 0;
				bottom: 0;
				background: rgba(0,0,0,.8);
				transition: opacity 0.15s ease-in-out;
				opacity: 0;
				z-index: -1;
			}
	 	}
	}

	&__site-logo {
		img {
			max-width: 120px;

			@include md-max {
				max-width: 200px;
			}
			@include lg {
				max-width: 200px;
			}
		}
	}

	&__site-nav-items {
		flex-grow: 1;
		display: flex;
		justify-content: flex-end;
	}
	&__site-nav-items {
		@include md-max {
			position: fixed;
			right: 0;
			top: 0;
			bottom: 0;
			background: white;
			box-shadow: -2px 1px 5px rgba(0,0,0,.2);
			display: block;
			height: 100vh;
			z-index: 5;

			transform-origin: 0% 0%;
			transform: translate(100%, 0);
			transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
		}
		
	}
}

.header-main__site-nav-items {
	ul {
		list-style: none;
		padding-left: 0;
		/* to stop flickering of text in safari */
		-webkit-font-smoothing: antialiased;
		
		@include md-max {
			height: 100%;
			padding: 0 1em;
			background: white;
		}

		@include md {
			display: flex;
			width: 100%;
			justify-content: flex-end;
			margin-bottom: 0;
			align-items: center;
		}
	}
	li {
		font-family: $font-brand;
		@include md-max {
			font-size: 1.25em;
		}
		@include xl {
			font-size: 1.25em;
		}
		
	}
	li a:not(.button) {
		@include lg {
			padding: 1em .85em;
		}
		@include md-max {
			padding: 1em;
		}
		padding: .5em;
		display: block;

		color: $brand-highlight-color;
		font-weight: 600;
		text-decoration: none;
		transition: color 0.15s ease-in-out;

		&:hover,
		&:focus {
			color: $brand-color;
		}
	}
	li:last-child {
		@include lg {
			margin-left: 1em;
		}
		@include md-max {
			margin-top: 1.5em;
		}
	}
	li .button {
		padding: 1em;
		@include md-max {
			margin-top: 1em;
			padding-left: .5em;
			padding-right: .5em;
		}
	}
}

//hamburger
.header-main__nav-toggle {
	
	position: relative;
	z-index: 2;

	@include md {
		display: none;
	}
	@include md-max {
		@include centerer(false, true);
		right: 2em;
	}
	
	/* hidden checkbox as hamburger menu on smaller screens */

	// input[type='checkbox']{
	input[type='button']{
		display: block;
		width: 40px;
		height: 32px;
		position: absolute;
		top: -7px;
		left: -5px;
		cursor: pointer;
		opacity: 0;	//hide this
		z-index: 2;	//place over the hamburger
		-webkit-touch-callout: none;
	}
	span {
		display: block;
		width: 33px;
		height: 4px;
		margin-bottom: 5px;
		position: relative;
		background: $mid-grey;
		border-radius: 3px;

		z-index: 1;
		transform-origin: 4px 0px;

		transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
								background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
								opacity 0.55s ease;							
	}
	// input:checked ~ span {
	// 	opacity: 1;
	// 	transform: rotate(45deg) translate(2px, -1px);
	// 	background: $dark-grey;
	// }
	// //hide the middle span
	// input:checked ~ span:nth-of-type(2) {
	// 	opacity: 0;
	// 	transform: rotate(0deg) scale(0.2, 0.2);
	// }
	// //last one should go to the other direction
	// input:checked ~ span:nth-of-type(3) {
	// 	transform: rotate(-45deg) translate(0, -1px);
	// }
}

//responsive menu shown
.header-main.--active .header-main__nav-toggle {
	input[type='button'] ~ span {
		opacity: 1;
		transform: rotate(45deg) translate(2px, -1px);
		background: $dark-grey;
	}
	//hide the middle span
	input[type='button'] ~ span:nth-of-type(2) {
		opacity: 0;
		transform: rotate(0deg) scale(0.2, 0.2);
	}
	//last one should go to the other direction
	input[type='button'] ~ span:nth-of-type(3) {
		transform: rotate(-45deg) translate(0, -1px);
	}

}


.button--close {
	@include md-max {
		display: block;
		margin: 1em 1em 0 auto;
		color: $mid-grey;
		font-size: .85em;
	}
	@include md {
		display: none;
	}

	&:hover,
	&:focus {
		color: $mid-grey;
	}
}


//Responsive menu state
.header-main.--active {
	.header-main__site-nav {
		&::before {
			@include md-max {
				opacity: 1;
				z-index: 1;
			}
	 	}
	}
	.header-main__site-nav-items {
		transform: translate(0,0);
	}
}







