// @import "lib/bootstrap/bootstrap";
@import "../abstracts/variables";

div[class^="col"] > div[class^="col"] {
	@include media-breakpoint-down(md){
		padding-left: 0;
		padding-right: 0;		
	}
}

.container {
	//current issue: variables not being read from variables.scss
	max-width: 1200px;
	margin: auto;
	padding-top: 4em;
	padding-bottom: 4em;
	padding-left: 2em;
	padding-right: 2em;

	&--fluid {
		max-width: 100%;
	}

	&--dark {
		background: $dark-grey;
	}

	&--brand {
		background: $brand-color;
	}
}

