/**
 * Basic typography style for copy text
 */
body {
  color: $text-color;
  // font: normal 125% / 1.4 $text-font-stack;
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;

  .theme--dark & {
    color: $light-grey;
  }
}

h1 { font-size: $h1-font-size; }
h2 { font-size: $h2-font-size; }
h3 { font-size: $h3-font-size; }
h4 { font-size: $h4-font-size; }
h5 { font-size: $h5-font-size; }
h6 { font-size: $h6-font-size; }

.lead {
  font-size: 1.25em;
  font-weight: 300;
}

.--on-dark {
  color: white;
}
