.page-inner--about {
  
}

.about__location-header {
  margin-bottom: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  text-align: center;
  opacity: .75;

  @media screen and (max-width: $screen-sm-min) {
    font-size: 1.5rem;
  }

  &::before, &::after {
    content: '';
    height: 3px;
    position: absolute;
    left: 4.5rem;
    right: 4.5rem;
    top: 50%;
    transform: translateY(-50%);
    background-color: #e65b01;

    @media screen and (max-width: $screen-sm-min) {
      left: 0;
      right: 0;
    }
  }

  span {
    position: relative;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    z-index: 2;
    background: white;

    @media screen and (max-width: $screen-sm-min) {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
}

.about__item {
  align-items: center;
  border-radius: 5px;
  overflow: hidden;
  // background: $light-grey2;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);

  @include sm {
    display: flex;
    flex-wrap: wrap;
  }

  &:not(:last-of-type) {
    margin-bottom: 3rem;
  }
  &:last-of-type {
    margin-bottom: 6rem;
  }
}

.about__item {
  > div {
    @include sm {
      flex: 1;
    }
  }
}
.about__item-desc {
  padding: 3em;

  // @include xs-max {
  //   text-align: center;
  // }

  p:last-child {
    margin-bottom: 0;
  }
  
}
.about__item-image {
  .about__item & {
    // @include sm {
    //   flex: 0 0 300px;
    // }
    @include md {
      flex: 0 0 400px;
      padding-right: 3em;
    }
    @include sm-max {
      flex: 0 0 100%;
    }
    @media screen and (min-width: $screen-lg-min) and (max-width: $screen-lg-max) {
      padding-right: 0;
      flex: 0 0 100%;
    }
    // @include md-max {
    //   background: #fff;
    //   height: 450px;
    // }
    // @include sm-max {
    //   height: 350px;
    // }
  }

  img {
    border: 1px solid $light-grey;
    display: block;
    margin: auto;
    width: 450px;
    

    // @include sm {
    //   height: 100%;
    //   object-fit: cover; 
    //   width: 450px;
    // }
    // @include sm-max {
    //   display: block;
    //   margin: auto;
    // }
  }

  // background-size: cover;
  // background-position: center;
}

.about__title, .about__email, .about__contactno {
  margin-bottom: .5em;
  display: block;
  color: $text-color;
}

.about__title {
  @extend %muted-labels;
}
.about__email, .about__contactno {
  color: $brand-color;
  text-decoration: underline;
  word-break: break-word;
}
.about__contactno {
  margin-bottom: 1em;
}
.about__item-desc {
  .icon-ed {
    display: inline-block;
    margin-right: .5em;
  }
  .icon-ed svg {
    width: 16px;
    max-height: 20px;
    transform: translateY(.25em);
  }
  .icon-ed svg g {
    fill: $text-color;
  }
}