.page-inner--case-studies {
  
}

.case-study__item {
  border-radius: 5px;
  overflow: hidden;
  background: $light-grey2;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);

  &:not(:last-of-type) {
    margin-bottom: 3rem;
  }
}

.case-study__item-image {
  max-height: 350px;
  overflow: hidden;

  img {
    width: 100%;
    object-fit: cover;
  }
}

.case-study__item-desc {
    padding: 3em;

    h4 {
      text-align: center;
    }

    p:last-child {
      margin-bottom: 0;
    }
}
.case-study__label {
  @extend %muted-labels; 
  display: block;
  text-align: center;
}
