.services-items-wrapper {
	margin-top: 1em;

	@include sm-max {
		margin-top: 3em;
	}
}

.service-item {
	// display: flex;
	// align-items: center;
	// margin-bottom: 2em;
	display: block;
	padding: 2em;
	
	@include md {
		position: relative;
		margin-bottom: 1em;
		border-radius: 5px;
		transition: transform .3s ease-in-out;
	}

	@include md {
		&::before {
			content: ' ';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.2);
			opacity: 0;
			transition: opacity .5s;
		}
	}

	&:hover, &:focus {
		text-decoration: none;

		@include md {
			transform: translate3d(0,-.25em,0);
			&::before {
				opacity: 1;
			}
		}
	}

	@include sm-max {
		display: flex;
		align-items: center;
		margin-bottom: 0;
		padding-left: 1em;
		padding-right: 1em;
		border-bottom: 1px solid $light-grey;
	}
	
	.col-xs-12:first-child & {
		@include sm-max {
			border-top: 1px solid $light-grey;
		}
	}

	

	.icon-service {
    // display: inline-block;
		// padding-right: 1em;
		display: block;
		margin-bottom: 1em;
		text-align: center;

		@include sm-max {
			margin-bottom: 0;
		}
	}
	
	img {
		// width: 40px;
		// height: 40px;
		// margin-right: 1em;

		height: 120px;
		display: block;
		margin: auto;

		@include sm-max {
			height: auto;
			width: 120px;
		}
	}
	
  // .icon-service svg {
  //   width: 40px;
  //   max-height: 40px;
  // }
  // .icon-service svg g {
  //   fill: shade($brand-color, 10%);
	// }
	
	span {
		display: block;
		margin: auto;
		max-width: 250px;
		color: $text-color;
		font-weight: 600;
		text-align: center;
		transition: color .15s ease-in-out;
		
		@include sm-max {
			margin: initial;
			margin-left: 1em;
			text-align: left;
		}

	}
	&:hover, &:focus {
		span {
			color: $brand-color;
		}
	}
}

.page-home--case-studies {
	padding-left: 1rem;
	padding-right: 1rem;

	p.--on-dark {
		max-width: 780px;
	}
}
.case-studies-wrapper {
	display: flex;
	flex-wrap: wrap;
	margin-top: 4em;

}
.case-study-item {
	position: relative;
	overflow: hidden;
	
	@include sm {
		display: flex;
		flex-wrap: wrap;
		flex: 1;
		height: 400px;
	}

	//overlay
	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,.1) 1%, rgba(0,0,0,1) 100%);
	}

	.case-study-info {
		position: absolute;
		z-index: 1;
		bottom: 0;
		left: 0;
		right: 0;
		padding: 1rem 2rem;
	}

	img {
		object-fit: cover;
		transition: transform 0.3s ease-in-out;
	}
	span {
		@extend %muted-labels;
	}

	//states
	&:hover, &:focus {
		&:before {
			content: '';
		}
		img {
			transform: scale(1.2);
		}
	}
}
.button--consult {
	display: block;
	margin: 3em auto 0;
	text-align: center;

	@include sm {
		width: 400px;
	}
}


.page-home--testimonials {
	&.page-home h2 {
		margin-bottom: .5em;
	}	
}
.testimonials {
	&--item {
		padding-top: 4em;
		padding-left: 1em;
		padding-right: 1em;
		position: relative;
		text-align: center;

		@include sm {
			padding-left: 3em;
			padding-right: 3em;
		}
		@include md {
			min-height: 400px;
		}

		p {
			font-size: 1.15rem;
		}
	}
	.lead {
		// font-style: italic;
		@include sm-max {
			font-size: 1em;
		}
	}
	.lead > .muted:first-child {
		@extend %muted-labels;
		display: block;
		margin-bottom: 1em;
		color: $brand-color;
	}
	blockquote:after {
		content: '\201C';
		color: $mid-grey;
		font-family: Source Sans Pro;
		font-size: 120px;
		font-weight: 400;
		position: absolute;
		left: 50%;
		bottom: calc(100% - 30px);
		background: #fff;
		height: 55px;
		width: 55px;
		line-height: normal;
		text-align: center;
		transform: translateX(-50%);
	}
	.blockquote-footer {
		margin-top: 2em;
		font-style: normal;
	}
	.blockquote-footer--person {
		display: block;
		margin-bottom: .25em;
		font-weight: 600;
	}
	.blockquote-footer--title {
		@extend %muted-labels;
	}
	
}