// .page-inner--services {
//   h2 {
//     margin-bottom: 0;
//   }
// }
.page-inner-services-list {
  max-width: 1180px;
  margin: auto auto 6rem;
}
.services-list__item {
  border-radius: 5px;
  overflow: hidden;
  background: $light-grey2;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);

  @include md {
    display: flex;
    flex-wrap: wrap;
  }

  &:not(:last-of-type) {
    margin-bottom: 3rem;
  }
}

.services-list__item {
  > div {
    //flex: 1;
    @include md {
      width: 50%;
    }
  }
}
.services-list__item-desc {
  padding: 3em;

  p:last-child {
    margin-bottom: 0;
  }
}
.services-list__item-image {
  .services-list__item:nth-child(odd) & {
    @include md {
      order: 1;
    }
  }
  .services-list__item & {
    @include md-max {
      height: 250px;
    }
  }

  background-size: cover;
  background-position: center;
}
